.class1 {
    width: 180px;
    margin: 0 auto;
    border: 1px solid;
    padding: 15px;
    color: black;
    background-color: white;
    text-align: center;

    span {
        color: red;
    }
}